
.shiki {
  overflow: auto;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--border, 214.3 31.8% 91.4%));
  padding: 1rem;
  background-color: var(--shiki-light-bg);
  color: var(--shiki-light);
}
.shiki code {
  display: grid;
  min-width: max-content;
  font-family: var(--font-mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
  font-size: 0.875rem;
  line-height: 1.45;
}
.dark .shiki {
  background-color: var(--shiki-dark-bg);
  color: var(--shiki-dark);
}
.dark .shiki span {
  color: var(--shiki-dark);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}
